.about {
    display: flex;

    &__image {
        position: relative;
    }

    &__text {
        font-weight: bold;
        font-size: 1.35rem;
        position: absolute;
        top: 100%;
        left: 52%;
        transform: translate(0%, 100%);
    }

    &__subtext {
        font-weight: 200;
        font-size: 1rem;
        position: absolute;
        top: 142%;
        left: 68%;
        transform: translate(-50%, -50%);
    }

}

.hackathon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 195%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__rectangle {
        width: 300px;
        height: 380px;
        background-color: $white;
        margin: 0px 25px;
        border-radius: 20px;
    }

    &__rectangle2 {
        width: 300px;
        height: 380px;
        background-color: $white;
        margin: 0px 25px;
        border-radius: 20px;
    }

    &__rectangle3 {
        width: 300px;
        height: 380px;
        background-color: $white;
        margin: 0px 25px;
        border-radius: 20px;
    }
}
