.meet {
    &__header {
        font-size: 2rem;
        text-align: center;
    }

    &__text {
        font-size: 0.8rem;
        text-align: center;
        position: absolute;
        top: 320%;
        left: 26%;
    }
}

.icon {
    &__grid {

        @include breakpoint-up(large) {
            display: flex;
        }
    }

    &__item {

        @include breakpoint-up(large) {
            flex: 1;
        }
    }

    // &__icon {

    // }

    // &__title {

    // }

    // &__description {

    // }
}



// .icons {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: absolute;
//     top: 340%;
//     left: 50%;
//     transform: translate(-50%, -50%);

//     &__picture1 {
//         width: 12rem;
//         height: 12rem;
//         object-fit: cover;
//         border-radius: 50%;
//         margin: 25px 60px;
//     }

//     &__picture2 {
//         width: 12rem;
//         height: 12rem;
//         object-fit: cover;
//         border-radius: 50%;
//         margin: 25px 60px;
//     }

//     &__picture3 {
//         width: 12rem;
//         height: 12rem;
//         object-fit: cover;
//         border-radius: 50%;
//         margin: 25px 60px;
//     }

//     &__text1 {
//         position: absolute;
//         transform: translate(-50%, -50%);
//     }
// }