.donate {
    margin-top: 1.125rem;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    
    .container {
        padding-bottom: 0rem;
    }

    &__text {

        text-align: center;
    }

    &__button {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        @include breakpoint-up(medium) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
        }
    }

    .button {
        color: white;
        border-left: 3px black solid;
        border-bottom: 3.5px black solid;
        text-align: center;
        background-color: $orange;
        margin: auto 0.625rem;

        @include breakpoint-up(medium) {
            margin: auto 2rem;
        }
    }

}

.bear__donate {
    width: 150px;
    transform: translate(500%, 7%);
}

 