.donate {
    margin: 1.125rem auto;

    &__text {

        text-align: center;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button {
        color: white;
        position: relative;
        margin: auto 2rem;
        border-left: 3px black solid;
        border-bottom: 3.5px black solid;
    }

    &__b1 {
        background-color: $peach;
    }

    &__b2 {
        background-color: $orange;

    }
}