//Colors
$white: #f0f0f0;
$hintOfRed: #f4efef;
$lightPeach: #f6e5e2;
$pink: #f9dcd8;
$peach: #fcccbc;
$tan: #e6beaa;
$yellow: #fcbb8a;
$orange: #fb8164;
$darkBrown: #362c28;

//Font Sizes
$font-sm: 0.875rem; //14px
$font-med: 1.125rem; //18px